.event  {
  @include rounded-corners;
  display: block;
  background-color: $light-grey;
  height: 25rem;
  padding: 1.25rem;
  margin-bottom: .9375rem;
  overflow: hidden;
  transition: all 200ms ease;
}
.event:hover  {
  background-color: $dark-teal;
  color: white;
}
.event-text {
  padding: 1.25rem .625rem;
  text-align: center;
}
.event-image  {
  width: 100%;
  padding-top: 50%;
  background-size: cover;
  background-position: 50% 50%;
}