@import 'mediaqueries';

$column-number: 16;
$gutter: 1.25rem;
.row:after  {
  @include clearfix;
}
[class*='columns-'] {
  padding-right: $gutter;
}
[class*='columns-']:last-of-type  {
  padding-right: 0;
}
@for $i from 1 through $column-number  {
  .columns-#{$i} {
    width: $i / $column-number % 100%;
  }
  @media #{$media-small} {
    .columns-#{i}-small {
      width: $i / $column-number % 100;
    }
  }
  @media #{$media-medium} {
    .columns-#{i}-medium {
      width: $i / $column-number % 100;
    }
  }
  @media #{$media-large} {
    .columns-#{i}-large {
      width: $i / $column-number % 100;
    }
  }
}
