@import 'mediaqueries';

$column-number: 12;
$gutter: .3125rem;
//This is probably all ripped off from some open-source project.
//Only difference is a fluid container
.container  {
  width: 5 / 6 * 100%;
  margin: auto;
  @media #{$media-medium} {
    width: 80%;
  }
}
.row  {
  margin-left: $gutter * -.5;
  margin-right: $gutter * -.5;
  @media #{$media-medium}  {
    $gutter: 1.25rem;
    margin-right: $gutter * -.5;
    margin-left: $gutter * -.5;
  }
}
.row::after  {
  @include clearfix;
}
.clearfix {
  //Use when you don't want negative margins
  @include clearfix;
}
[class*='columns-'] {
  padding-right: $gutter * .5;
  padding-left: $gutter * .5;
  @media #{$media-medium}  {
    $gutter: 1.25rem;
    padding-right: $gutter * .5;
    padding-left: $gutter * .5;
  }
}
[class*='columns-']:not(.columns--centered) {
  float: left;
}
@for $i from 1 through $column-number  {
  .columns-#{$i} {
    width: $i / $column-number * 100%;
  }
}
@for $i from 1 through $column-number  {
  @media #{$media-small} {
    .columns-#{$i}-small {
      width: $i / $column-number * 100%;
    }
  }
}
@for $i from 1 through $column-number  {
  @media #{$media-medium} {
    .columns-#{$i}-medium {
      width: $i / $column-number * 100%;
    }
  }
}
@for $i from 1 through $column-number  {
  @media #{$media-large} {
    .columns-#{$i}-large {
      width: $i / $column-number * 100%;
    }
  }
}
.columns--centered {
  margin: auto;
}
//responsive images
.image--fluid {
  max-width: 100%;
  height: auto;
}