$officers: 'akhila' 'cecile' 'zach' 'jessica' 'anders' 'lily';
.officer  {
  margin-bottom: 1.875rem;
}
.officer-photo {
  @include rounded-corners;
  max-width: 100%;
  width: 100%;
  padding-top: 100%;
  display: inline-block;
}
@each $officer in $officers  {
  .officer-photo--#{$officer}  {
    background-image: url(image_path('officers/#{$officer}.jpg'));
    background-size: cover;
    background-position: center;
  }
}
.officer-bio  {
  padding: 1.25rem 0;
}