.segment  {
  padding: 4rem 0;
}
//size variants
.segment--large {
  padding: 8rem 0;
}
.segment--full {
  height: 100%;
  padding: 0;
}
.segment--full .segment-contents {
  @include relative-center;
}
//Page specific heading segments
.segment--main  {
  background: linear-gradient(69deg, rgba($purple, .75), rgba($teal, .75)),
              url(image_path('main-image.jpg')) center no-repeat;
  background-size: cover;
  color: white;
}
.segment--about {
  background: linear-gradient(69deg, rgba($gold, .6), rgba($teal, .75)),
              url(image_path('about-image.jpg')) center 40% no-repeat;
  background-size: cover;
  color: white;
}
.segment--events  {
  background: linear-gradient(69deg, rgba($gold, .6), rgba($purple, .75)),
              url(image_path('events-image.jpg')) center 20% no-repeat;
  background-size: cover;
  color: white;
  @media #{$media-large}  {
    background-position: center 40%;
  }
}
.segment--sponsor {
  background: linear-gradient(69deg, rgba($teal, .6), rgba($purple, .75)),
              url(image_path('sponsor-image.jpg')) center no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.segment--students {
  background: linear-gradient(69deg, rgba($gold, .6), rgba($purple, .85)),
              url(image_path('students-image.jpg')) center no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
//Background colors
.segment--white  {
  background-color: white;
  color: $grey;
}
.segment--white hr  {
  background-color: $light-grey;
}
.segment--teal  {
  background-color: $dark-teal;
  color: white;
}
.segment--purple  {
  background-color: $dark-purple;
  color: white;
}
.segment--grey  {
  background-color: $grey;
  color: white;
}
.segment--lightgrey {
  background-color: $light-grey;
  color: $grey;
}