$body-font-stack: 'Museo Sans', 'Helvetica Neue', Helvetica, sans-serif;
$body-line-height: 1.5;

$header-font-stack: Campton, Futura, 'Century Gothic', sans-serif;
$header-line-height: 1.1;
$header-weight: 700;

body  {
  line-height: $body-line-height;
  font-family: $body-font-stack;
}
h1, h2, h3, h4, h5, h6  {
  font-family: $header-font-stack;
  line-height: $header-line-height;
  font-weight: $header-weight;
  margin: 0;
}

.navbar,
.button {
  font-family: $header-font-stack;
  font-weight: $header-weight;
  line-height: $header-line-height;
  font-size: 1.25rem;
}

h1  {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.subhead  {
  font-size: 1.5rem;
}