//Mixins
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin relative-center  {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@mixin circle {
  border-radius: 100%;
}
//Functions
@function remify($num) {
  @if unit($num) is "px" or unit($num) is ""  {
    @return $num / ($num * 0 + 16) + 0rem; //adding 0rem changes units
  }
  @else {
    @return $num
  }
}
@function emify($num) {
  @if unit($num) is "px" or unit($num) is ""  {
    @return $num / ($num * 0 + 16) + 0em;
  }
  @else {
    @return $num
  }
}
//Utility classes
.text--centered {
  text-align: center;
}