//Vendor dependencies
@import "normalize";
@import "compass/utilities/general/";

@charset "utf-8";

//Custom utility functions
@import "util";

//Aesthetics
@import "color";
@import "typography";
@import "zindex";

//Components
@import "navbar";

.logo {
  background: url('../images/tequity-logo-75.png') no-repeat;
  background-size: 100%;
  width: remify(75px / 2);
  height: remify(34px / 2);
}