//Vendor dependencies
@import 'normalize';
@import 'compass/utilities/general/';
@import 'defaults';
@charset 'utf-8';

//Custom utility functions
@import 'util';

//Media queries
@import 'mediaqueries';

//Aesthetics
@import 'color';
@import 'typography';
@import 'zindex';

//Components
@import 'grid';
@import 'navbar';
@import 'footer';

.logo {
  background: url('../images/tequity-logo-75.png') no-repeat;
  background-size: 100%;
  width: remify(75px / 2);
  height: remify(34px / 2);
}