/ !doctype html
%html
  %head
    %meta{ :charset => 'UTF-8' }
    %meta{ :name => 'viewport', :content => "initial-scale=1"}

    /Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => 'IE=edge,chrome=1', :http_equiv => "X-UA-Compatible"}

    /Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "The Middleman"

    //Load Typekit webfonts
    %script{ :src => '//use.typekit.net/yye7reu.js'}
    %script try{Typekit.load({ async: true });}catch(e){}

    =stylesheet_link_tag "normalize", "all"

  %body{:class => page_classes}
    //Load Facebook SDK
    = partial 'partials/nav'
    = yield
    = partial 'partials/footer'
    //Load nonblocking Javascript in body for faster load times
    =javascript_include_tag  "all"