%form
  .text-input
    %input{:type => "text", :name => "name", :placeholder => "Name"}
  .text-input
    %input{:type => "text", :name => "email", :placeholder => "Email address"}
  .text-input
    %input{:type => "text", :name => "subject", :placeholder => "Subject"}
  .text-input
    %textarea{:type => "text", :name => "subject", :placeholder => "Type your message here..."}