//Events template
:plain
  <script type="text/template" class="event--template">
    <div class="row">
      <% if (rc) { %>
        <% _.each(rc, function(evnt) { %>
          <div class="columns-12 columns-6-medium">
            <a class="event" href=<%- 'https://facebook.com/' + evnt.id %> target="_blank">
              <div class="image--fluid event-image" style="background-image: url('<%- evnt.cover.source %>')"></div>
              <div class="event-text">
                <h3><%= evnt.name %></h3>
                <div><%= evnt.start_text %></div>
                <% if (evnt.place != undefined) { %>
                  <div><%= evnt.place.name %></div>
                <% } %>
              </div>
            </a>
          </div>
        <% }); %>
      <% } else { %>
        <div class="columns-12">
          There are no events here. Check our <a href="http://facebook.com/tequityorg">Facebook page</a> for a complete listing of our past events.
        </div>
      <% } %>
    </div>
  </script>