%footer.footer.segment.segment--grey
  .container
    .row
      .footer-navigation.columns-12.columns-4-medium
        %strong Copyright &copy; Tequity 2015
      .footer-contact.columns-12.columns-8-medium
        //I don't know what goes here. E-mail? Social media icons?
        %h4 Follow us on: