.navbar.navbar--absolute
  .container
    .row
      .columns-12
        .navbar-title
          =link_to 'index.html' do
            .logo
          %end
        %nav.navbar-navigation
          %button.bars
            .bar
          %ul
            %li
              =link_to "Events", "events.html"
            %li
              =link_to "About Us", "about.html"
            %li
              =link_to "Get Involved", "#get-involved"
              %ul
                %li
                  =link_to "Students", "diversity.html"
                %li
                  =link_to "Companies", "sponsors.html"
.navbar-overlay