---
title: Tequity
---
= partial "partials/nav"
= partial "partials/footer"

.welcome-banner-container
    .text-container
        #title Tequity

        #text We are a UC Berkeley student organization promoting the advancement of minority groups in the tech industry.

        .button-container
            #button Learn More
            #button Sponsor


.get-involved-container
    .text-container
        #title Get Involved

        #text blah blah blah blah blah blah blah

        .button-container
            #button Companies
            #button Students
