---
title: Tequity
---
= partial "partials/nav"

.segment.segment--full.segment--main
  .segment-contents.text--centered.container
    .columns-12.columns-8-medium.columns--centered
      %h1 Tequity
      .subhead We are a UC Berkeley student organization promoting the advancement of minority groups in the tech industry.
      .button-list
        %a.button Learn More
        %a.button Sponsor

.segment.segment--teal
  .container
    .columns-12.columns--centered.text--centered
      %h2.highlight This is the first sentence of our mission statement.
      .subhead Try-hard fap viral swag, tofu Truffaut keytar messenger bag selvage. Mumblecore brunch actually cliche. Scenester sustainable meh, artisan 8-bit try-hard heirloom Vice migas. Schlitz YOLO mixtape, tattooed kitsch lumbersexual Blue Bottle banjo pour-over. Bushwick twee polaroid, Helvetica hoodie Kickstarter tofu art party Vice tote bag Pinterest.

.segment.segment--purple
  .container
    .columns-12.columns--centered.text--centered
      %h2 Get Involved
      .subhead blah blah blah blah blah blah blah
      .button-list
        %a.button Companies
        %a.button Students

= partial "partials/footer"
