---
title: Sponsors | Tequity
---
.segment.segment--large.segment--sponsor
  .container.text--centered
    .row
      .columns-12.columns-8-medium.columns--centered
        %h1 Sponsor Tequity
.segment.segment--white
  .container
    .row
      .columns-12
        %h2 Why sponsor Tequity?
        %p Typewriter wolf PBR, bitters farm-to-table aesthetic trust fund gentrify. Intelligentsia forage fingerstache, banh mi fanny pack iPhone keytar readymade heirloom paleo. Brooklyn four loko trust fund polaroid. Fap brunch skateboard butcher, chambray letterpress Godard YOLO plaid ethical messenger bag. Church-key banh mi fashion axe cardigan, blog brunch put a bird on it plaid jean shorts narwhal aesthetic Brooklyn VHS Echo Park. Sustainable typewriter XOXO farm-to-table. Flannel +1 PBR&B kogi, Pitchfork gastropub four dollar toast banjo Carles.
        %p Vegan single-origin coffee Godard Austin, drinking vinegar actually Banksy kitsch pickled photo booth Marfa fap four loko whatever asymmetrical. Letterpress skateboard Helvetica asymmetrical cornhole Pinterest. Meditation lo-fi twee Pitchfork sartorial swag pour-over McSweeney's. American Apparel kitsch whatever, chambray leggings Wes Anderson lo-fi twee iPhone Helvetica art party keytar next level. Post-ironic mustache slow-carb, High Life deep v pug Banksy photo booth migas roof party Kickstarter Carles hoodie cray. Gentrify PBR whatever, Kickstarter locavore lumbersexual Thundercats DIY hashtag bitters American Apparel. Food truck church-key Bushwick shabby chic, direct trade pork belly cray hashtag asymmetrical.
        %hr
        %h2 Email us
        .segment.segment--lightgrey
          .columns-10.columns-8-medium.columns--centered
            =partial "partials/email"

